<mat-sidenav-container>
  <mat-sidenav [mode]="settings.state.sidenavModeSide ? 'side' : 'over'" [opened]="!settings.state.sidenavClosed"
    (openedChange)="settings.set({ sidenavClosed: !$event })">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="settings.set({ sidenavClosed: true })">
        <mat-icon>close</mat-icon>
      </button>
      <span class="flex-space-filler-1"></span>
      <span>SVG Path Editor</span>
      <span class="flex-space-filler-1"></span>
      <mat-slide-toggle color="primary" [checked]="settings.state.sidenavModeSide"
        (change)="settings.set({ sidenavModeSide: $event.checked })"></mat-slide-toggle>
    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>import_export</mat-icon>File
        </mat-expansion-panel-header>

        <input #inputSvgFile type="file" multiple="false" style="display: none;" accept=".svg,.txt"
          (change)="loadSvg($event)" />
        <button mat-stroked-button (click)="inputSvgFile.click()">
          <mat-icon>open_in_browser</mat-icon>Open
        </button>

        <button mat-stroked-button (click)="svgView.toArchive()">
          <mat-icon>archive</mat-icon>To SVG
        </button>
        <button mat-stroked-button (click)="openSampleDialog()">
          <mat-icon>developer_board</mat-icon>Samples
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>design_services</mat-icon>Edit
        </mat-expansion-panel-header>

        <!-- History -->
        <div>
          <button mat-stroked-button style="float: right;" [disabled]="!history.hasLink" (click)="history.unlink()">
            <mat-icon>link_off</mat-icon>Unlink
          </button>
          <button mat-stroked-button [disabled]="!history.canUndo" (click)="onUndo()">
            <mat-icon>undo</mat-icon>Undo
          </button>
          <button mat-stroked-button [disabled]="!history.canRedo" (click)="onRedo()">
            <mat-icon>redo</mat-icon>Redo
          </button>
        </div>

        <!-- Input -->
        <app-tab-group items="Raw Data|Selector|Inspector" [selection]="editMode" (selectionChange)="selectTab($event)">
          <div style="padding-top: 1em;">
            <div style="padding: 0 0.5em;" [style.display]="editMode === 0 ? 'block' : 'none'">
              <mat-form-field style="width: 100%;">
                <mat-label>SVG path data:</mat-label>
                <!--
                  FF textarea workarounds:
                  1) Extra height. FF reserves space for scroll-bars. We'll disable horizontal scroll bar.
                  FIX: overflow-x: hidden;
                  2) Horizontal caret navigation can be extremely slow (in the presence of vertical scroll-bar).
                  FIX: padding: 0; margin: 0;
                -->
                <textarea matInput rows="15" style="resize: none;overflow-x: hidden;padding: 0;margin: 0;"
                  placeholder="Place any SVG path data here"
                  [ngModel]="pathInput" (ngModelChange)="onInputChange($event)"></textarea>
              </mat-form-field>
            </div>

            <div *ngIf="editMode === 1">
              <div style="padding-left: 16px;padding-bottom: 10px">
                <mat-checkbox [checked]="isAllSelected" [indeterminate]="isSomeSelected"
                  (change)="onSelectAll($event.checked)">Select All</mat-checkbox>
              </div>
              <div
                style="border-top: 1px solid rgba(0, 0, 0, 0.26); padding-left: 16px; padding-top: 10px; height: 280px; overflow-y: auto;">
                <app-path-group *ngFor="let group of groups;index as i;trackBy:trackByIndex" [items]="group">
                </app-path-group>
              </div>
            </div>

            <div *ngIf="editMode === 2" style="padding-left: 1em; padding-right: 1em;">
              <app-index-selector [count]="path.length" [selection]="firstSelectionIndex"
                (selectionChange)="onSingleSelectionChange($event)">
              </app-index-selector>
              <app-path-item *ngIf="activeItem as item" [item]="item"
                [maximumFractionDigits]="settings.state.maximumFractionDigits"
                (inputChange)="onSingleParameterChange()"></app-path-item>
            </div>
          </div>
        </app-tab-group>

        <div style="margin-top: 1em;">
          <mat-form-field style="max-width: 5em;margin-right: 1em;">
            <mat-label>Decimal digits</mat-label>
            <mat-select [ngModel]="settings.state.maximumFractionDigits" (ngModelChange)="onFormatChange(+$event)">
              <mat-option *ngFor="let name of decimalFormats; index as i" [value]="i">{{i}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="formatInput()">Pretty</button>
          <button mat-stroked-button color="primary" (click)="compactInput()">Compact</button>

          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            style="float: right;">
            <mat-icon>{{menuTrigger.menuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
          <mat-menu #menuReplace="matMenu">
            <button mat-menu-item [disabled]="!hasArc" (click)="onEllipticalArcAppriximation()">Arc to Curves Approximation</button>
            <button mat-menu-item [disabled]="!canPromoteToCurve" (click)="onPromoteToCurve()">Promote to Cubic Bézier Curve</button>
            <button mat-menu-item [disabled]="!canPromoteToQCurve" (click)="onPromoteToQCurve()">Promote to Quadratic Bézier Curve</button>
          </mat-menu>
          <mat-menu #menuConvert="matMenu">
            <button mat-menu-item (click)="convertInput(false)">Convert to Absolute</button>
            <button mat-menu-item (click)="convertInput(true)">Convert to Relative</button>
            <button mat-menu-item (click)="onClone(false)">Clone</button>
            <button mat-menu-item (click)="onClone(true)">Clone Reversed</button>
            <button mat-menu-item (click)="onSplit()">Bisect</button>
            <button mat-menu-item [matMenuTriggerFor]="menuReplace">Replace</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="onDelete()">
              <mat-icon>clear</mat-icon><span>Delete</span>
            </button>
          </mat-menu>
          <mat-menu #menuAppend="matMenu">
            <button mat-menu-item *ngFor="let command of commands" (click)="onAppend(command)">{{command + ': ' + commandNames[command]}}</button>
          </mat-menu>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="menuAppend">Append</button>
            <button mat-menu-item *ngIf="path?.length > 0" [matMenuTriggerFor]="menuConvert">Edit {{selectMode}}</button>
            <button mat-menu-item (click)="onPathReverse()">Reverse Path Direction</button>
          </mat-menu>
        </div>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>transform</mat-icon>
            </mat-panel-title>
            <mat-panel-description>Transform</mat-panel-description>
          </mat-expansion-panel-header>
          <app-menu-transform (transformChange)="applyTransform($event)"></app-menu-transform>
        </mat-expansion-panel>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>visibility</mat-icon>View
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-menu-view (requestSmallestViewBox)="svgView.adjustViewBox($event)"></app-menu-view>
        </ng-template>
      </mat-expansion-panel>

      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>design_services</mat-icon>Path
        </mat-expansion-panel-header>
      </mat-expansion-panel> -->
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-svg-view #svgView [pathItems]="path" [activeItem]="activeItem" [previewMatrix]="previewMatrix"
      (controlDrag)="onDrag($event)"></app-svg-view>
    <button *ngIf="settings.state.sidenavClosed" class="sidenav-open-button"
      (click)="settings.set({ sidenavClosed: false })" mat-icon-button color="primary"
      style="position: absolute; left: 0; top: 0">
      <mat-icon>double_arrow</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
