$sidenav-width: 360px;

mat-sidenav-container {
  width: 100%;
  height: 100%;
  background-color: #ccf;

  mat-sidenav {
    width: $sidenav-width;
  }
}

@keyframes keyframes-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: initial;
  }
}

.sidenav-open-button {
  animation: keyframes-fade-in 3s ease 1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0f8ff50;
}
