$sidenav-width: 360px;

mat-sidenav-container {
  width: 100%;
  height: 100%;
  background-color: #d7d7f6;

  mat-sidenav {
    width: $sidenav-width;
  }
}

@keyframes keyframes-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: initial;
  }
}

.sidenav-open-button {
  animation: keyframes-fade-in 3s ease 1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0f8ff50;
}

div[appTabListHead] {
  display: flex;
  align-items: center;
  padding-left: 16px;

  &>span:first-of-type {
    font-size: larger;
  }

  &>mat-icon {
    margin-left: 8px;
    margin-right: 8px;
  }
}
