<app-sandwich>
  <mat-toolbar appSandwichHeader color="primary">
    <span>Freecell</span>
    <app-freecell-deal-menu></app-freecell-deal-menu>
    <span class="flex-space-filler-1"></span>
    <app-freecell-action-buttons [noLabel]="noLabel"></app-freecell-action-buttons>
    <span class="flex-space-filler-1"></span>
  </mat-toolbar>
  <div appSandwichContent>
    <div class="freecell-content-outer">
      <div class="freecell-content-inner">
        <app-freecell-main></app-freecell-main>
      </div>
    </div>
  </div>
  <mat-toolbar appSandwichFooter color="primary">
    <app-freecell-history class="mat-typography"></app-freecell-history>
    <span class="flex-space-filler-1"></span>
  </mat-toolbar>
</app-sandwich>
