div.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history-item-diamonds,
.history-item-hearts {
  color: red;
}

.history-item-spades,
.history-item-clubs {
  color: black;
}

.danger-very-low,
.danger-low,
.danger-moderate,
.danger-high,
.danger-very-high,
.danger-extreme,
.danger-critical {
  min-width: 4em;
  padding-left: .25em;
  padding-right: .25em;
}

.danger-very-low {
  background-color: #BBEE90;
}

.danger-low {
  background-color: #BBDD85;
}

.danger-moderate {
  background-color: #BBCC80;
}

.danger-high {
  background-color: #FFEE30;
}

.danger-very-high {
  background-color: #FFCC00;
}

.danger-extreme {
  background-color: #FF9920;
}

.danger-critical {
  background-color: #FF5540;
}
