<div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-secondary"
        [disabled]="0 > selection"
        (click)="setSelection(-1)">HOME</button>
      <button type="button" class="btn btn-secondary"
        [disabled]="0 > selection"
        (click)="setSelection(selection-1)">PREV</button>
      <button type="button" class="btn btn-secondary"
        [disabled]="selection + 1 >= items.length"
        (click)="setSelection(selection+1)">NEXT</button>
      <button type="button" class="btn btn-secondary"
        [disabled]="selection + 1 >= items.length"
        (click)="setSelection(items.length-1)">LAST</button>
    </div>
  </div>

  <app-simple-virtual-list [itemCount]="items.length" [selection]="selection" (selectionChange)="setSelection($event)" [rowMax]='10'>
    <ng-template appSimpleVirtualListItem let-i>
      <span class="d-flex justify-content-between align-items-center">
        <span>
          {{i + 1}}.
          <span [ngClass]="items[i].whichClass">{{items[i].which}}</span> &rarr; <span [ngClass]="items[i].whereClass">{{items[i].where}}</span>
        </span>
        <span class="badge badge-pill" [ngClass]="items[i].outcomeClass">{{items[i].outcome}}</span>
      </span>
    </ng-template>
  </app-simple-virtual-list>

  <!-- <div class="list-group history-list">
    <a *ngFor="let item of items; index as i"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      [class.active]="selection === i"
      (click)="setSelection(i)"
    >
      <span>
        <span [ngClass]="item.whichClass">{{item.which}}</span> &rarr; <span [ngClass]="item.whereClass">{{item.where}}</span>
      </span>
      <span class="badge badge-pill" [ngClass]="item.outcomeClass">{{item.outcome}}</span>
    </a>
  </div> -->
</div>
