<mat-form-field>
  <mat-label>Game History:</mat-label>
  <mat-select [value]="selection" (valueChange)="setSelection($event)">
    <mat-option [value]="-1">Start</mat-option>
    <mat-option *ngFor="let item of items; index as i" [value]="i" >
      <div class="history-item">
        {{i + 1}}.&nbsp;
        <span [class]="item.cardClass">{{item.cardName}}</span>&nbsp;&rarr;&nbsp;
        <span [class]="item.takerClass">{{item.takerName}}</span>&nbsp;
        <span [class]="item.outcomeClass">{{item.outcomeName}}</span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
