<mat-form-field>
  <mat-label>Game History:</mat-label>
  <mat-select [value]="selection" (valueChange)="setSelection($event)">
    <mat-option [value]="-1">Start</mat-option>
    <mat-option *ngFor="let item of items; index as i" [value]="i" >
      <span class="history-item">
        <span>{{i + 1}}. <span [class]="getClass(item.which)">{{getName(item.which)}}</span> &rarr; <span [class]="getClass(item.taker)">{{getName(item.taker)}}</span>; </span>
        <span [class]="getOutcomeClass(item.outcome)">free {{item.outcome}}</span>
      </span>
    </mat-option>
  </mat-select>
</mat-form-field>
