.diamonds,
.hearts {
  color: red;
}

.spades,
.clubs {
  color: black;
}

.risk-12,
.risk-11,
.risk-10,
.risk-9,
.risk-8,
.risk-7,
.risk-6 {
  background-color: #BBEE90;
}

.risk-5 {
  background-color: #BBDD85;
}

.risk-4 {
  background-color: #BBCC80;
}

.risk-3 {
  background-color: #FFEE30;
}

.risk-2 {
  background-color: #FFCC00;
}

.risk-1 {
  background-color: #FF9920;
}

.risk-0 {
  background-color: #FF5540;
}
