<mat-form-field style="max-width: 40%;margin-right: 1em;">
  <mat-label>Index</mat-label>
  <input matInput type="number" step="1" min="1" [max]="count" [disabled]="0 >= count" [ngModel]="selection + 1"
    (ngModelChange)="requestSelectionChange(+$event - 1)">
  <mat-hint>From 1 to {{count}}</mat-hint>
</mat-form-field>

<button mat-stroked-button [disabled]="0 >= selection" (click)="requestSelectionChange(selection - 1)">
  <mat-icon>chevron_left</mat-icon>
</button>
<button mat-stroked-button [disabled]="selection + 1 >= count" (click)="requestSelectionChange(selection + 1)">
  <mat-icon>chevron_right</mat-icon>
</button>

<mat-slider style="width: 100%;" step="1" min="1" [max]="count" [disabled]="0 >= count" [ngModel]="selection + 1"
  (input)="requestSelectionChange($event.value - 1)"></mat-slider>
