.game {
  position: relative;

  width: 100%;
  padding-top: 75%;
  /* 4:3 Aspect Ratio */

  background-repeat: repeat;
  background-size: auto;
  background-image: url('/assets/freecell/blue_gray_paper_grid.jpg');

  .placeholder {
    position: absolute;

    background-color: lightblue;
    background-image: url('/assets/freecell/cards.svg');
    background-size: 800% 800%;
    background-repeat: no-repeat;

    border-radius: 8.333% / 6.25%;
    opacity: 0.8;
  }

  .pile {
    background-position: 14.286% 100%;
  }

  .base.spades {
    background-position: 57.143% 85.714%;
  }

  .base.diamonds {
    background-position: 71.429% 85.714%;
  }

  .base.clubs {
    background-position: 85.714% 85.714%;
  }

  .base.hearts {
    background-position: 100% 85.714%;
  }

  .cell {
    background-color: lightseagreen;
    background-position: 0% 100%;
  }
}
