@mixin bg_pos($index) {
  $col: $index % 8;
  $row: ($index - $col) / 8;
  background-position: $col / 7 * 100% $row / 7 * 100%;
}

@mixin bg_rank($index) {
  $i: $index * 4;
  &.spades { @include bg_pos($i); }
  &.diamonds { @include bg_pos($i + 1); }
  &.clubs { @include bg_pos($i + 2); }
  &.hearts { @include bg_pos($i + 3); }
}

.game {
  position: relative;

  width: 100%;
  padding-top: 75%;
  /* 4:3 Aspect Ratio */

  background-repeat: repeat;
  background-size: auto;
  background-image: url('/assets/freecell/blue_gray_paper_grid.jpg');

  .placeholder, .card {
    position: absolute;

    background-image: url('/assets/freecell/cards.svg');
    background-size: 800% 800%;
    background-repeat: no-repeat;

    border-radius: 8.333% / 6.25%;
  }

  .placeholder {
    background-color: lightblue;
    opacity: 0.8;

    &.pile { @include bg_pos(57); }

    &.base { @include bg_rank(13); }

    &.cell {
      background-color: lightseagreen;
      @include bg_pos(58);
    }
  }

  .card {
    &.Ace { @include bg_rank(0); }
    &.Two { @include bg_rank(1); }
    &.Three { @include bg_rank(2); }
    &.Four { @include bg_rank(3); }
    &.Five { @include bg_rank(4); }
    &.Six { @include bg_rank(5); }
    &.Seven { @include bg_rank(6); }
    &.Eight { @include bg_rank(7); }
    &.Nine { @include bg_rank(8); }
    &.Ten { @include bg_rank(9); }
    &.Jack { @include bg_rank(10); }
    &.Queen { @include bg_rank(11); }
    &.King { @include bg_rank(12); }

    &.transition_deal {
      transition-duration: 1.5s;
      transition-timing-function:cubic-bezier(.6,-0.5,.25,1.5);
    }

    &.transition_norm {
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(.5,1,.5,1);
    }

    &.transition_fast {
      transition-duration: 0.35s;
      transition-timing-function: linear;
    }

    // transition-property: left, top;
    // transition-property: transform;
    // transition-duration: 1s;
    // transition-timing-function: cubic-bezier(.5,1,.5,1);

    &.dragged {
      transition-property: none;
    }
  }
}
