.freecell_card {
  &.transition_deal {
    transition: transform 1.5s cubic-bezier(.6,-0.5,.25,1.5);
  }

  &.transition_norm {
    transition: transform 0.5s ease-out;
  }

  &.transition_fast {
    transition: transform 0.25s linear;
  }

  &.grabbing {
    cursor: grabbing;
    transition: transform 0.15s ease-in-out;
    &.dragging {
      transition: none;
      opacity: 0.75;
    }
  }
}
