<div *ngIf="soundService.enabled && !soundService.activated" appGesture (userGesture)="activateOnGesture($event)"></div>

<app-freecell-playground [layout]="layout" [(selection)]="spotSelection" (touchChange)="onTouch($event)">
  <ng-container appFreecellBackground>
    <ng-content select="[appFreecellBackground]"></ng-content>
  </ng-container>
  <ng-container appFreecellForeground>
    <!-- cards -->
    <div matRipple *ngFor="let card of cards; index as i; trackBy: trackByIndex"
      [matRippleDisabled]="!settings.state.enableRipples"
      [ngClass]="card.ngClass"
      [ngStyle]="card.ngStyle"

      (mousedown)="onMouseDown($event, i)"
      #cards
    ></div>
    <ng-content select="[appFreecellForeground]"></ng-content>
  </ng-container>
</app-freecell-playground>
