<app-sandwich (sandwichOrderChange)="settings.set({ sandwichOrder: $event })" [sandwichOrder]=settings.state.sandwichOrder>
  <mat-toolbar appSandwichHeader color="primary">
    <span>Freecell</span>
    <app-freecell-deal-menu></app-freecell-deal-menu>
    <span class="flex-space-filler-1"></span>
    <app-freecell-action-buttons [noLabel]="noLabel"></app-freecell-action-buttons>
    <span class="flex-space-filler-1"></span>
  </mat-toolbar>
  <ng-content appSandwichContent></ng-content>
  <mat-toolbar appSandwichFooter color="primary">
    <div class="mat-typography padding-top-half-rem">
      <app-freecell-history></app-freecell-history>
    </div>
    <span class="flex-space-filler-1"></span>
    <button mat-icon-button (click)="settingsChange.emit()" style="margin-right: 40px;">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</app-sandwich>
