div.s-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; /* default */
  justify-content: flex-start; /* default */
  align-items: stretch; /* default */
}

div.s-header, div.s-footer {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

div.s-content {
  flex-grow: 1;
  flex-shrink: 0;
}

.s-header-move-down, .s-header-move-up {
  position: absolute;
  right: 0;
  color: white;
}

.s-header-move-down {
  bottom: 0;
}

.s-header-move-up {
  top: 0;
}
