<ng-template #templatePathItems>
  <span *ngFor="let item of items;index as i;trackBy:trackByIndex" (click)="onItemClick(i)"
    [class.selected]="item.selected">{{item.name}}</span>
</ng-template>

<div class="path-group">
  <mat-checkbox style="margin-right:0.5em" [checked]="selectedCount === items.length"
    [indeterminate]="selectedCount > 0 && selectedCount !== items.length"
    (change)="setAll($event.checked)"
  ></mat-checkbox>
  <div *ngIf="hideItems && items.length > 1;else templatePathItems">
    <span [class.selected]="selectedCount === items.length" (click)="hideItems=false">{{items[0].name}}…</span>
  </div>
  <div *ngIf="items.length > 1" (click)="hideItems = !hideItems" style="cursor: pointer; margin-left: 0.05em">
    {{hideItems ? '→' : '←'}}</div>
</div>
