.path-group {
  display: flex;
  flex-wrap: wrap;

  span {
    cursor: pointer;
    display: inline-block;
    min-width: 1.125em;
    height: 1.125em;
    text-align: center;
  }

  span:hover {
    color: #0000ff;
    text-decoration: underline #0000ff;
    // box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 2px 2px -2px rgba(0,0,0,.2);
  }

  span.selected {
    color: #0000cc;
    background-color: yellow;
    text-transform: lowercase;
  }
}
