@import './squared-paper';

.squared-paper {
  position: relative;

  // margin-left: 1px;
  // margin-top: 1px;

  background-color: $squared-paper-background-color;

  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: $squared-paper-font-size;
  line-height: $squared-paper-square-side;
}

.squared-paper-bg {
  width: 100%;
  height: 100%;
}

.squared-paper-fg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.squared-paper-col-3,
.squared-paper-col-12,
.squared-paper-col-15,
.squared-paper-col-30 {
  display: inline-block;
}

.squared-paper-col-3 {
  width: 3 * $squared-paper-square-side;
}

.squared-paper-col-12 {
  width: 12 * $squared-paper-square-side;
}

.squared-paper-col-15 {
  width: 15 * $squared-paper-square-side;
}

.squared-paper-col-30 {
  width: 30 * $squared-paper-square-side;
}
