@import './squared-paper';

.squared-paper {
  position: relative;

  margin-left: 1px;
  margin-top: 1px;

  background-color: $squared-paper-background-color;

  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: $squared-paper-font-size;
  line-height: $squared-paper-square-side;
}

.squared-paper-bg {
  width: 100%;
  height: 100%;
}

.squared-paper-fg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.squared-paper-par {
  text-indent: 2 * $squared-paper-square-side;
  padding-left: 0.25 * $squared-paper-square-side;
  margin-bottom: $squared-paper-square-side;
}

.squared-paper-text-indent-1 {
  text-indent: $squared-paper-square-side;
}

.squared-paper-text-indent-2 {
  text-indent: 2 * $squared-paper-square-side;
}

.squared-paper-text-indent-3 {
  text-indent: 3 * $squared-paper-square-side;
}

.squared-paper-text-indent-4 {
  text-indent: 4 * $squared-paper-square-side;
}

.squared-paper-pl {
  padding-left: 0.25 * $squared-paper-square-side;
}

.squared-paper-pr {
  padding-right: 0.25 * $squared-paper-square-side;
}

.squared-paper-margin-1 {
  margin: $squared-paper-square-side;
}

.squared-paper-margin-2 {
  margin: 2 * $squared-paper-square-side;
}

.squared-paper-margin-3 {
  margin: 3 * $squared-paper-square-side;
}

.squared-paper-margin-4 {
  margin: 4 * $squared-paper-square-side;
}

.squared-paper-mb-1 {
  margin-bottom: $squared-paper-square-side;
}

.squared-paper-ml-1 {
  margin-left: $squared-paper-square-side;
}

.squared-paper-mr-1 {
  margin-right: $squared-paper-square-side;
}

.squared-paper-mt-1 {
  margin-top: $squared-paper-square-side;
}

.squared-paper-mb-2 {
  margin-bottom: 2 * $squared-paper-square-side;
}

.squared-paper-ml-2 {
  margin-left: 2 * $squared-paper-square-side;
}

.squared-paper-mr-2 {
  margin-right: 2 * $squared-paper-square-side;
}

.squared-paper-mt-2 {
  margin-top: 2 * $squared-paper-square-side;
}

.squared-paper-mb-3 {
  margin-bottom: 3 * $squared-paper-square-side;
}

.squared-paper-ml-3 {
  margin-left: 3 * $squared-paper-square-side;
}

.squared-paper-mr-3 {
  margin-right: 3 * $squared-paper-square-side;
}

.squared-paper-mt-3 {
  margin-top: 3 * $squared-paper-square-side;
}

.squared-paper-mb-4 {
  margin-bottom: 4 * $squared-paper-square-side;
}

.squared-paper-ml-4 {
  margin-left: 4 * $squared-paper-square-side;
}

.squared-paper-mr-4 {
  margin-right: 4 * $squared-paper-square-side;
}

.squared-paper-mt-4 {
  margin-top: 4 * $squared-paper-square-side;
}

.squared-paper-spacing {
  letter-spacing: 0.5 * $squared-paper-square-side;
}

.squared-paper-col-3,
.squared-paper-col-12,
.squared-paper-col-15,
.squared-paper-col-30 {
  display: inline-block;
}

.squared-paper-col-3 {
  width: 3 * $squared-paper-square-side;
}

.squared-paper-col-12 {
  width: 12 * $squared-paper-square-side;
}

.squared-paper-col-15 {
  width: 15 * $squared-paper-square-side;
}

.squared-paper-col-30 {
  width: 30 * $squared-paper-square-side;
}
