div.scroll-view {
  position: relative;
  overflow-y: auto;
}

div.scroll-spacer {
  background-color: #AAA0;
  width: 2px;
  transform-origin: left top;
}

div.scroll-buffer {
  position: absolute;
  left: 0;
  width: 100%;
}

div.scroll-item {
  width: 100%;
}

div.scroll-item > a {
  cursor: pointer;
}

.dropdown-item.focus {
  /* text-decoration: none; */
  color: var(--dark);
  background-color: var(--light);
  outline-color:-webkit-focus-ring-color;
  outline-style: dotted;
  outline-width: thin;
  /* outline: 2px dotted; */
  /* outline: 5px auto -webkit-focus-ring-color; */
}

.dropdown-item.focus.active {
  color: var(--white);
  background-color: var(--primary);
}
