<div class="main" #mainRef>
  <app-ratio-keeper [width]="width" [height]="height" [ratio]="7/5">
    <app-freecell-deck [layout]="layout" [game]="game" (lineChange)="onLineChange($event)">
      <button class="freecell horizontal top-left" (click)="onDeal()">DEAL</button>
      <button class="freecell horizontal top-right" [disabled]="!nextMove" (click)="onAuto()">AUTO</button>
      <button class="freecell horizontal bottom-left" [disabled]="!history.canUndo" (click)="onUndo()">UNDO</button>
      <button class="freecell horizontal bottom-right" [disabled]="!history.canRedo" (click)="onRedo()">REDO</button>

      <div class="history" [style.left.%]="showHistory ? 0 : -50">
        <app-freecell-history *ngIf="showHistory"
          [items]="historyItems"
          [selection]="historySelection"
          (selectionChange)="onHistorySelectionChange($event)"
        ></app-freecell-history>
      </div>
      <button class="freecell vertical middle-left"
        [style.left.%]="showHistory ? 50 : 0"
        [style.zIndex]="showHistory ? 1000 : 0"
        (click)="showHistory=!showHistory"
      >
      {{showHistory ? '\u297D' : '\u297C'}}
      </button>
    </app-freecell-deck>
  </app-ratio-keeper>
  {{name + history.toURI()}}
</div>
