.freecell-content {
  position: relative;
  width: 100%;

  .freecell-content-outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

    .freecell-content-inner {
      width: 100%;
      height: 100%;
    }
  }
}
