<div>
  {{info}}
  <mat-checkbox style="float: right;" [checked]="isRelative" (change)="setRelative($event.checked)">
    Relative
  </mat-checkbox>
</div>
<div class="path-item-data">{{path}}</div>

<!-- Ellipse shape -->
<div class="path-item-group" [class.hidden]="!isEllipticalArc">
  <div>Ellipse Shape:</div>
  <mat-form-field>
    <mat-label>rx</mat-label>
    <input matInput type="number" min="0" step="any" [ngModel]="getFormatted('rx')" (ngModelChange)="setRx(+$event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ry</mat-label>
    <input matInput type="number" min="0" step="any" [ngModel]="getFormatted('ry')" (ngModelChange)="setRy(+$event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>angle ↷</mat-label>
    <input matInput type="number" step="any" [ngModel]="getFormatted('angle')" (ngModelChange)="setAngle(+$event)">
  </mat-form-field>
  <mat-checkbox [checked]="largeArcFlag" (change)="setLargeArcFlag($event.checked)">Large
  </mat-checkbox>
  <mat-checkbox [checked]="sweepFlag" (change)="setSweepFlag($event.checked)">Sweep</mat-checkbox>
</div>

<!-- First constrol point -->
<div class="path-item-group" [class.hidden]="!isBezierCurve">
  <div>First Control Point:</div>
  <mat-form-field>
    <mat-label>{{item.outputAsRelative ? 'dx1' : 'x1'}}</mat-label>
    <input matInput type="number" step="any" [disabled]="!hasControlPoint1" [ngModel]="getFormatted('x1')"
      (ngModelChange)="setX1(+$event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{item.outputAsRelative ? 'dy1' : 'y1'}}</mat-label>
    <input matInput type="number" step="any" [disabled]="!hasControlPoint1" [ngModel]="getFormatted('y1')"
      (ngModelChange)="setY1(+$event)">
  </mat-form-field>
</div>

<!-- Second constrol point -->
<div class="path-item-group" [class.hidden]="!hasControlPoint2">
  <div>Second Control Point:</div>
  <mat-form-field>
    <mat-label>{{item.outputAsRelative ? 'dx2' : 'x2'}}</mat-label>
    <input matInput type="number" step="any" [ngModel]="getFormatted('x2')" (ngModelChange)="setX2(+$event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{item.outputAsRelative ? 'dy2' : 'y2'}}</mat-label>
    <input matInput type="number" step="any" [ngModel]="getFormatted('y2')" (ngModelChange)="setY2(+$event)">
  </mat-form-field>
</div>

<!-- Stop point -->
<div class="path-item-group">
  <div>Stop Point:</div>
  <mat-form-field>
    <mat-label>{{item.outputAsRelative ? 'dx' : 'x'}}</mat-label>
    <input matInput type="number" step="any" [disabled]="!hasX" [ngModel]="getFormatted('x')" (ngModelChange)="setX(+$event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{item.outputAsRelative ? 'dy' : 'y'}}</mat-label>
    <input matInput type="number" step="any" [disabled]="!hasY" [ngModel]="getFormatted('y')" (ngModelChange)="setY(+$event)">
  </mat-form-field>
</div>
