<div class="menu-transform">
  <mat-form-field style="max-width: 50%;">
    <mat-label>Transform function</mat-label>
    <mat-select [(value)]="selection">
      <mat-option *ngFor="let name of transformNames" [value]="name">{{transforms[name]}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button (click)="applyTransform()" style="float: right;">
    <mat-icon>play_for_work</mat-icon>Apply
  </button>

  <div class="menu-transform-move" *ngIf="selection === 'move'">
    <mat-form-field>
      <mat-label>Horizontal →</mat-label>
      <input matInput type="number" name="translateX" [(ngModel)]="translateX">
    </mat-form-field>
    <span>px</span>
    <mat-form-field>
      <mat-label>Vertical ↓</mat-label>
      <input matInput type="number" name="translateY" [(ngModel)]="translateY">
    </mat-form-field>
    <span>px</span>
  </div>

  <div class="menu-transform-scale" *ngIf="selection === 'scale'">
    <mat-form-field>
      <mat-label>Width ↔</mat-label>
      <input matInput type="number" [ngModel]="scaleFactorX" (ngModelChange)="setScaleX($event)">
    </mat-form-field>
    <span>%</span>
    <mat-form-field>
      <mat-label>Height ↕</mat-label>
      <input matInput type="number" [ngModel]="scaleFactorY" (ngModelChange)="setScaleY($event)">
    </mat-form-field>
    <span>%</span>
    <mat-checkbox [ngModel]="shouldScaleProportionally" (ngModelChange)="setScaleProportionally($event)">
      Scale proportionally
    </mat-checkbox>
  </div>

  <div class="menu-transform-angle" *ngIf="selection === 'rotate'">
    <mat-form-field>
      <mat-label>Angle ↷</mat-label>
      <input matInput type="number" name="rotateAngle" [(ngModel)]="rotateAngle">
    </mat-form-field>
    <span>°</span>
    <br>
    <!--
    <h3>Center of Rotation</h3> -->
    <mat-form-field>
      <mat-label>Center x</mat-label>
      <input matInput type="number" name="rotateX" [(ngModel)]="rotateX">
    </mat-form-field>
    <span>px</span>
    <mat-form-field>
      <mat-label>Center y</mat-label>
      <input matInput type="number" name="rotateY" [(ngModel)]="rotateY">
    </mat-form-field>
    <span>px</span>
  </div>

  <div class="menu-transform-skew" *ngIf="selection === 'skew'">
    <mat-form-field>
      <mat-label>Horizontal ⇆</mat-label>
      <input matInput type="number" name="skewXAngle" [(ngModel)]="skewXAngle">
    </mat-form-field>
    <span>°</span>
    <mat-form-field>
      <mat-label>Vertical ⇅</mat-label>
      <input matInput type="number" name="skewYAngle" [(ngModel)]="skewYAngle">
    </mat-form-field>
    <span>°</span>
  </div>

  <div class="menu-transform-matrix" *ngIf="selection === 'matrix'">
    <mat-form-field *ngFor="let name of matrixNames">
      <mat-label>{{name}}:</mat-label>
      <input matInput type="number" [ngModel]="matrix[name]" (ngModelChange)="matrix[name] = +$event">
    </mat-form-field>
  </div>

  <div style="display: flex;">
    <button mat-stroked-button (click)="clearTransform()" color="warn">
      <mat-icon>clear</mat-icon>Clear
    </button>
    <span class="flex-space-filler-1"></span>
    <button mat-stroked-button (click)="addTransform()">
      <mat-icon>functions</mat-icon>Add To Matrix
    </button>
  </div>
</div>
