// .menu-transform {
//   border: 1px solid rgba(0, 0, 0, 0.26);
//   border-radius: 4px;
//   // padding: 1em;
//   /* vertical | horizontal */
//   padding: 12px 16px;
// }

.menu-transform-function {
  display: flex;
  align-items: flex-start;

  >mat-form-field {
    width: 30%;
    flex-grow: 1;
    margin-right: 1em;
  }
}

.menu-transform-move,
.menu-transform-scale,
.menu-transform-angle,
.menu-transform-skew,
.menu-transform-matrix {
  display: flex;
  flex-wrap: wrap;
  height: 8.5em;
}

.menu-transform-move,
.menu-transform-scale,
.menu-transform-angle,
.menu-transform-skew {
  flex-direction: row;
  justify-content: space-between;

  >mat-form-field {
    max-width: 40%;
  }
}

.menu-transform-matrix {
  flex-direction: column;

  >mat-form-field {
    max-width: 30%;
    flex: 1 1 4em;
  }
}

.label-units {
  float: right;
  // font-weight: 600;
}
