<ng-container *ngIf="boardService.state.board">
  <div #board class="crossword-board" [class.solved]="isSolved" (mousedown)="onBoardMouse($event, board, true)"
    (mouseup)="onBoardMouse($event, board, false)" (touchstart)="onTouchStart($event)" (touchend)="onTouchStop($event)"
    (touchcancel)="onTouchStop($event)" (touchmove)="onTouchMove($event)">
    <app-squared-paper [colNum]="layout.width" [rowNum]="layout.height">
      <svg appContentSvg>
        <!-- margin -->
        <path class="crossword-fill" *ngIf="fillPath" [attr.d]="fillPath" pathLength="100" />
        <path class="crossword-word" *ngIf="wordPath" [attr.d]="wordPath" />
        <path class="crossword-fail" *ngIf="failPath" [attr.d]="failPath" pathLength="100" />
        <line class="crossword-line" [attr.x1]="layout.marginLeft" [attr.x2]="layout.marginRight"
          [attr.y1]="layout.marginTop" [attr.y2]="layout.marginBottom" />
      </svg>
      <div #tiles class="crossword-tile" *ngFor="let tile of tiles; index as i" [ngClass]="tile.className"
        [style.z-index]="tile.order" [style.transform]="tile.transform" (mousedown)="onMouseDown($event, i)">
        {{tile.value}}</div>
    </app-squared-paper>
    <div class="crossword-sign"></div>
  </div>
</ng-container>
