@import 'src/app/school/squared-paper/squared-paper';
$X: $squared-paper-square-side;

.crossword-board {
  display: inline-block;
  position: relative;
}

.crossword-tile {
  position: absolute;
  width: $X - 2px;
  height: $X - 2px;

  border: solid 1px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.9);

  cursor: grab;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fadc9a;
  border-radius: $X / 6;

  &.transition_deal {
    cursor: default;
    transition: transform 1.5s cubic-bezier(.6, -0.5, .25, 1.5);
    background-color: #fafadc;
  }

  &.transition_norm {
    transition: transform 0.5s ease-out;
  }

  &.transition_fast {
    transition: transform 0.25s linear;
  }

  &.transition_grab,
  &.transition_drag {
    cursor: grabbing;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &.transition_grab,
  &.transition_drag {
    transition: transform 0.15s ease-in-out;
  }

  &.transition_drag {
    transition: none;
    opacity: 0.75;
  }
}

@keyframes keyframes-fade-in {
  0% {
    opacity: 0;
    // stroke-dashoffset: 100;
  }

  // 25% {
  //   opacity: initial;
  //   stroke-dashoffset: 100;
  // }

  100% {
    opacity: initial;
    // stroke-dashoffset: 0;
  }
}

path {
  fill: none;
  stroke: none;
}

path.crossword-fill {
  stroke: rgb(250, 0, 0);
  stroke-width: 0.04px;
  // stroke-dasharray: 100;
  fill: rgba(0, 0, 0, 0.25);

  animation: keyframes-fade-in 2s ease 1;
}

button.crossword-check {
  position: absolute;
  right: 0;
  top: 0;
  // z-index: 1000;
  margin-top: $X;
  width: 4 * $X;
  height: 2 * $X;
}
