svg {
  margin: 1px;
  border: 1px solid #ffffff;
  // transform-origin: 0px 0px;
  // transition: transform 0.2s ease-out;
  transition: width 0.2s ease-out, height 0.2s ease-out;

  g.control-points {
    &>circle {
      cursor: pointer;
      stroke: black;
      stroke-opacity: 0.75;
      fill-opacity: 0.5;
      // &:active {
      //   cursor: none;
      // }
    }
  }

  &.dragging {
    cursor: none;

    g.control-points {
      &>circle {
        cursor: none;
        stroke: magenta;
        stroke-opacity: 0.5;
        fill-opacity: 0;
      }
    }
  }
}
