<ng-template #templateError>
  <div>
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    {{errorMessage}}
  </div>
</ng-template>

<ng-template #templateLoading>
  <div *ngIf="!errorMessage; else templateError">Loading...</div>
</ng-template>

<h2 mat-dialog-title>SVG Path Samples</h2>
<mat-dialog-content class="mat-typography">
  <app-tab-group *ngIf="samples; else templateLoading" [items]="tabNames" [selection]="tabSelection"
    (selectionChange)="onTabSelectionChange($event)">
    <div class="sample-dialog-body">
      <button *ngFor="let name of tabItems;index as i;trackBy:trackByIndex"
        [class.sample-dialog-selection]="i === selection" (click)="onItemClick(i)">
        <div>
          <svg viewBox="0 0 1024 1024">
            <path [attr.d]="getPathAt(i)"></path>
          </svg>
        </div>
        <span>{{name}}</span>
      </button>
    </div>
  </app-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedPath" [disabled]="0 > selection">Import</button>
</mat-dialog-actions>
