<ng-template #loading>
  Loading stuff...
</ng-template>

<div class="example-container" *ngIf="breakpoints$ | async as bs" >
  <mat-sidenav-container class="freecell-sidenav-container">
    <mat-sidenav #sidenav [mode]="getSideNavMode(bs)">
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.close()"><mat-icon>close</mat-icon></button>
        <span>Menu</span>
      </mat-toolbar>
      <mat-action-list>
        <button mat-list-item (click)="game.onDeal()">
          <mat-icon color="primary">autorenew</mat-icon>
          DEAL
        </button>
        <button mat-list-item (click)="game.onUndo()" [disabled]="!game.history.canUndo">
          <mat-icon [color]="game.history.canUndo ? 'primary' : 'grey'">undo</mat-icon>
          UNDO
        </button>
        <button mat-list-item (click)="game.onRedo()" [disabled]="!game.history.canRedo">
          <mat-icon [color]="game.history.canRedo ? 'primary' : 'grey'">redo</mat-icon>
          REDO
        </button>
        <button mat-list-item (click)="game.onAuto()" [disabled]="!game.nextMove">
          <mat-icon [color]="game.nextMove ? 'accent' : 'grey'">emoji_objects</mat-icon>
          AUTO
        </button>
      </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span> {{getStateName(bs)}} </span>
        <span>Freecell #{{game.history.deal}}</span>
        <span class="flex-space-filler-1"></span>

        <ng-container *ngIf="bs.breakpoints[BP_XS]">
          <button mat-icon-button [matMenuTriggerFor]="gameMenu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #gameMenu="matMenu">
            <app-freecell-history
              [items]="game.historyItems"
              [selection]="game.historySelection"
              (selectionChange)="game.onHistorySelectionChange($event)"
            ></app-freecell-history>
          </mat-menu>
        </ng-container>
        <app-freecell-history class="mat-typography" style="padding: 0 1rem;" *ngIf="!bs.breakpoints[BP_XS]"
          [items]="game.historyItems"
          [selection]="game.historySelection"
          (selectionChange)="game.onHistorySelectionChange($event)"
        ></app-freecell-history>
      </mat-toolbar>

      <div class="freecell-content">
        <div style="position: absolute; top:0; left:0; bottom:0; right:0">
          <app-freecell-main #game></app-freecell-main>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--
  [style.width.px]="getContentWidth(bs)"
        [style.height.px]="getContentHeight(bs)"
[class.freecell-sidenav-opened]="sidenav.opened && sidenav.mode === 'side'"
 -->
