<ng-template #loading>
  Loading stuff...
</ng-template>

<div class="freecell-container" *ngIf="breakpoints$ | async as bs" >
  <!-- Sidenav Container -->
  <mat-sidenav-container class="freecell-sidenav-container">
    <!-- Sidenav Drawer -->
    <mat-sidenav
      [mode]="(!settings.state.sidenavModeSide || bs.breakpoints[BP_XS]) ? 'over' : 'side'"
      [opened]="!settings.state.sidenavClosed"
      (closedStart)="settings.set({ sidenavClosed: true })"
      (openedChange)="sidenavOpened=$event"
    >
      <mat-toolbar color="primary" class="freecell-toolbar">
        <button mat-icon-button (click)="settings.set({ sidenavClosed: true })">
          <mat-icon>close</mat-icon>
        </button>
        <span class="flex-space-filler-1"></span>
        <span>Freecell</span>
        <span class="flex-space-filler-1"></span>
        <mat-slide-toggle *ngIf="!bs.breakpoints[BP_XS]" color="primary"
          [checked]="settings.state.sidenavModeSide"
          (change)="settings.set({ sidenavModeSide: !!$event.checked})"
        ></mat-slide-toggle>
      </mat-toolbar>
      <mat-action-list>
        <app-freecell-deal-menu [listItem]="true"></app-freecell-deal-menu>
        <div mat-subheader>Actions:</div>
        <button mat-list-item
          [disabled]="!actionService.state.canUndo"
          (click)="actionService.undo()"
        >
          <mat-icon [ngClass]="!actionService.state.canUndo ? 'disabled-color' : 'mat-primary'">undo</mat-icon>
          UNDO
        </button>
        <button mat-list-item
          [disabled]="!actionService.state.canRedo"
          (click)="actionService.redo()"
        >
          <mat-icon [ngClass]="!actionService.state.canRedo ? 'disabled-color' : 'mat-primary'">redo</mat-icon>
          REDO
        </button>
        <button mat-list-item
          [disabled]="!actionService.state.nextMove"
          (click)="actionService.playNext()"
        >
          <mat-icon [ngClass]="!actionService.state.nextMove ? 'disabled-color' : 'mat-accent'">emoji_objects</mat-icon>
          <span>AUTO</span>
        </button>
        <button mat-list-item
          [disabled]="!actionService.state.canAssist"
          (click)="actionService.assist()"
        >
          <mat-icon [ngClass]="!actionService.state.canAssist ? 'disabled-color' : 'mat-warn'">assistant</mat-icon>
          <span>ASSIST</span>
          <mat-progress-bar *ngIf="actionService.state.assistRequest" mode="indeterminate" color="warn"></mat-progress-bar>
        </button>
      </mat-action-list>
      <div style="padding: 1em;">
        <app-freecell-history></app-freecell-history>
      </div>
      <span class="flex-space-filler-1"></span>
      <mat-divider></mat-divider>
      <mat-action-list>
        <button mat-list-item (click)="settingsChange.emit()">
          <mat-icon>settings</mat-icon>
          <span>SETTINGS</span>
        </button>
      </mat-action-list>
    </mat-sidenav>

    <!-- Sidenav Content -->
    <mat-sidenav-content>
      <ng-content></ng-content>
      <button
          *ngIf="settings.state.sidenavClosed"
          class="sidenav-open-button"
          [class.sidenav-open-button-active]="!sidenavOpened"
          mat-icon-button color="primary"
          (click)="settings.set({ sidenavClosed: false })"
        >
        <mat-icon>double_arrow</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
