<h2 mat-dialog-title>Freecell Settings</h2>
<mat-dialog-content class="mat-typography">
  <h3><mat-icon>{{settings.enableSound ? 'volume_up' : 'volume_off' }}</mat-icon>
    Game Sounds
  </h3>
  <mat-slide-toggle
    [checked]="settings.enableSound"
    (change)="settings.enableSound=$event.checked"
  >
    Enable
  </mat-slide-toggle>

  <h3 class="pad-top-20">
    <mat-icon>layers</mat-icon>
    Cards
  </h3>
  <mat-slide-toggle
    [checked]="settings.deckUseSvg"
    (change)="settings.deckUseSvg=$event.checked"
  >
    Use SVG
  </mat-slide-toggle>

  <h3 class="pad-top-20">
    <mat-icon>aspect_ratio</mat-icon>
    Aspect ratio
  </h3>
  <mat-slider thumbLabel="true"
    [displayWith]="formatLabel"
    [min]="aspectRatioMin"
    [max]="aspectRatioMax"
    [step]="aspectRatioStep"
    [(ngModel)]="aspectRatio"
  ></mat-slider>

  <h3 class="pad-top-20">
    <mat-icon>table_chart</mat-icon>
    Layout
  </h3>
  <mat-button-toggle-group [value]="settings.view">
    <mat-button-toggle value="sidenav" (click)="settings.view='sidenav'">
      <mat-icon>panorama_horizontal</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="sandwich" (click)="settings.view='sandwich'">
      <mat-icon>panorama_vertical</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-dialog-content>

<div class="pad-top-20">
  <mat-divider></mat-divider>
  <mat-dialog-actions align="center">
    <button mat-button (click)="settings.restoreDefaults()">
      <mat-icon>settings_backup_restore</mat-icon>
      <label>RESET</label>
    </button>
    <button mat-button matDialogClose cdkFocusInitial>
      <mat-icon>close</mat-icon>
      <label>CLOSE</label>
    </button>
  </mat-dialog-actions>
</div>
