<h2 mat-dialog-title>Freecell Settings</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="margin-right-8">{{settings.state.enableSound ? 'volume_up' : 'volume_off' }}</mat-icon>
        Game Sounds
      </ng-template>
      <div class="tab-content">
        <mat-slide-toggle
          [checked]="settings.state.enableSound"
          (change)="settings.set({ enableSound: !!$event.checked })"
        >
          Enable
        </mat-slide-toggle>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="margin-right-8">assistant</mat-icon>
        Assist level
      </ng-template>
      <div class="tab-content">
        <p>The maximum number of moves the assistant will try to solve.</p>
        <div class="pad-top-20">
          <mat-slider thumbLabel="true"
            [displayWith]="assistLevelLabel"
            [min]="assistLevelMin"
            [max]="assistLevelMax"
            [step]="assistLevelStep"
            [(ngModel)]="assistLevel"
            [color]="assistLevelColor()"
          ></mat-slider>
          {{settings.state.assistLevel}}
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="margin-right-8">layers</mat-icon>
        Card Effects
      </ng-template>
      <div class="tab-content">
        <div>
          <mat-slide-toggle
            [checked]="settings.state.deckUseSvg"
            (change)="settings.set({ deckUseSvg: !!$event.checked })"
          >
            Use SVG
          </mat-slide-toggle>
        </div>
        <div class="pad-top-20">
          <mat-slide-toggle
            [checked]="settings.state.enableRipples"
            (change)="settings.set({ enableRipples: !!$event.checked })"
          >
            Enable Ripples
          </mat-slide-toggle>
        </div>
        <div class="pad-top-20">
          <mat-slide-toggle
            [checked]="settings.state.enableWinAnimation"
            (change)="settings.set({ enableWinAnimation: !!$event.checked })"
          >
            Enable Victory Animation
          </mat-slide-toggle>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="margin-right-8">aspect_ratio</mat-icon>
        Aspect ratio
      </ng-template>
      <div class="tab-content">
        <p>The playground width divided by its height.</p>
        <div class="pad-top-20">
          <mat-slider thumbLabel="true"
            [displayWith]="aspectRatioLabel"
            [min]="aspectRatioMin"
            [max]="aspectRatioMax"
            [step]="aspectRatioStep"
            [(ngModel)]="aspectRatio"
          ></mat-slider>
          {{settings.state.aspectRatio}}
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="margin-right-8">table_chart</mat-icon>
        Layout
      </ng-template>
      <div class="tab-content">
        <p>
          <span [class.text-selected]="settings.state.view === 'sidenav'">Horizontal</span>
           or
          <span [class.text-selected]="settings.state.view === 'sandwich'">vertical</span> layout.
        </p>
        <mat-button-toggle-group [value]="settings.state.view">
          <mat-button-toggle value="sidenav" (click)="settings.set({ view: 'sidenav' })">
            <mat-icon>panorama_horizontal</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="sandwich" (click)="settings.set({ view: 'sandwich' })">
            <mat-icon>panorama_vertical</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<div class="pad-top-20">
  <mat-divider></mat-divider>
  <mat-dialog-actions align="center">
    <button mat-button (click)="settings.restoreDefaults()">
      <mat-icon>settings_backup_restore</mat-icon>
      <label>RESET</label>
    </button>
    <button mat-button matDialogClose cdkFocusInitial>
      <mat-icon>close</mat-icon>
      <label>CLOSE</label>
    </button>
  </mat-dialog-actions>
</div>
