.pad-top, .tab-content {
  padding-top: 16px;
}

.tab-content {
  min-height: 12.75rem;
  // max-height: 12rem;
  margin-left: 10px;
  // overflow: auto;
  @media (min-aspect-ratio: 8/5) {
    min-height: 9rem;
  }
}

.margin-right-8 {
  margin-right: 8px;
}

span.text-selected {
  font-weight: 600;
}
