<div class="menu-view-path">
  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput type="color" placeholder="color" [disabled]="!settings.state.isPathStroke"
      [ngModel]="settings.state.pathStrokeColor" (ngModelChange)="settings.set({ pathStrokeColor: $event })">
  </mat-form-field>
  <mat-slide-toggle [ngModel]="settings.state.isPathStroke" (ngModelChange)="settings.set({ isPathStroke: $event })">
    Path Stroke
  </mat-slide-toggle>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput type="color" placeholder="color" [disabled]="!settings.state.isPathFill"
      [ngModel]="settings.state.pathFillColor" (ngModelChange)="settings.set({ pathFillColor: $event })">
  </mat-form-field>
  <mat-slide-toggle [ngModel]="settings.state.isPathFill" (ngModelChange)="settings.set({ isPathFill: $event })">
    Path Fill
  </mat-slide-toggle>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput type="color" placeholder="color" [disabled]="!settings.state.isControlPoints"
      [ngModel]="settings.state.controlPointsFillColor"
      (ngModelChange)="settings.set({ controlPointsFillColor: $event })">
  </mat-form-field>
  <mat-slide-toggle [ngModel]="settings.state.isControlPoints"
    (ngModelChange)="settings.set({ isControlPoints: $event })">Control Points</mat-slide-toggle>
</div>

<app-tab-group items="Zoom|Viewbox|Background" [(selection)]="tabSelection">
  <div class="menu-view-zoom" *ngIf="tabSelection === 0">
    <mat-form-field>
      <mat-label>%</mat-label>
      <input matInput name="fZoom" type="number" step="1" min="25" max="400" [(ngModel)]="zoom">
    </mat-form-field>
    <mat-button-toggle-group [value]="zoom">
      <mat-button-toggle *ngFor="let item of zooms" [value]="item.value" (click)="zoom=item.value">{{item.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="menu-view-viewbox" *ngIf="tabSelection === 1">
    <p>The position and dimension, in user space, of an SVG viewport.</p>
    <mat-form-field>
      <mat-label>x:</mat-label>
      <input matInput type="number" [ngModel]="settings.state.xOffset"
        (ngModelChange)="settings.set({ xOffset: +$event })">
    </mat-form-field>
    <mat-form-field>
      <mat-label>y:</mat-label>
      <input matInput type="number" [ngModel]="settings.state.yOffset"
        (ngModelChange)="settings.set({ yOffset: +$event })">
    </mat-form-field>
    <mat-form-field>
      <mat-label>width:</mat-label>
      <input matInput type="number" [ngModel]="settings.state.width" (ngModelChange)="settings.set({ width: +$event })">
    </mat-form-field>
    <mat-form-field>
      <mat-label>height:</mat-label>
      <input matInput type="number" [ngModel]="settings.state.height"
        (ngModelChange)="settings.set({ height: +$event })">
    </mat-form-field>
    <button mat-stroked-button (click)="requestSmallestViewBox.emit()">
      <mat-icon>border_outer</mat-icon>Fit In
    </button>
  </div>

  <div class="menu-view-background" *ngIf="tabSelection === 2">
    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput type="color" placeholder="color" [ngModel]="settings.state.backgroundColor"
        (ngModelChange)="settings.set({ backgroundColor: $event })">
    </mat-form-field>
    <div>
      <label>
        <mat-icon>photo_library</mat-icon>Upload image:
        <input type="file" [multiple]="false" placeholder="file..." (change)="background.loadImage($event)" />
      </label>
    </div>
    <div>
      <mat-form-field>
        <mat-label>width (%):</mat-label>
        <input matInput type="number" min="1" step="1" [ngModel]="settings.state.backgroundImageZoom"
          (ngModelChange)="settings.set({ backgroundImageZoom: +$event })">
      </mat-form-field>
    </div>
    <div>
      <mat-slide-toggle [ngModel]="settings.state.isBackgroundImageHidden"
        (ngModelChange)="settings.set({ isBackgroundImageHidden: $event })">Hide</mat-slide-toggle>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Color Matrix</mat-label>
        <mat-select [value]="settings.state.backgroundImageColorMatrixName"
          (valueChange)="settings.set({ backgroundImageColorMatrixName: $event })">
          <mat-option *ngFor="let matrixName of imageColorMatrixNames" [value]="matrixName">{{matrixName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</app-tab-group>

<!--
<h3>
  <mat-icon>photo_size_select_large</mat-icon>Zoom
</h3>
<h3>
  <mat-icon>crop</mat-icon>Viewbox
</h3>
<h3>
  <mat-icon>layers</mat-icon>Background
</h3>
 -->
