@import 'src/app/school/squared-paper/squared-paper';
$X: $squared-paper-square-side;

.cw-grid {
  position: relative;
  margin-left: $X;
  margin-top: $X;

  span.cw-cell {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    width: $X;
    min-width: $X;
    max-width: $X;
    height: $X;
    min-height: $X;
    max-height: $X;

    &:hover {
      box-shadow: 2px 2px 4px #0008;
      outline: 2px outset #0088;
      color: #008;
    }
  }
}
