<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <p>{{content}}</p>
  <app-simple-addition *ngIf="hiddenTerm >= 0 && contentType === 'addition'" [augend]="firstTermValue"
    [addend]="secondTermValue" [hiddenTerm]="hiddenTerm"></app-simple-addition>
  <app-simple-multiplication *ngIf="hiddenTerm >= 0 && contentType === 'multiplication'" [multiplier]="firstTermValue"
    [multiplicand]="secondTermValue" [hiddenTerm]="hiddenTerm"></app-simple-multiplication>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-button mat-dialog-close cdkFocusInitial>Понятно!</button>
</mat-dialog-actions>
