@import 'src/app/school/squared-paper/squared-paper';
$X: $squared-paper-square-side;

.mental-math-submit {
  height: 72px;

  button {
    margin: 4px;
  }

  label {
    cursor: pointer;
    vertical-align: top;
    margin-left: 0.25 * $X;

    &:hover {
      text-shadow: 1px 1px 2px #cba;
    }
  }
}

.mental-math-topic {
  margin: $X 4 * $X $X 0;
  /* top | right | bottom | left */
  padding-left: 0.25 * $X;
  text-indent: 2 * $X;
}

.mental-math-trophy {
  display: block;
  width: 4 * $X;
  height: 4 * $X;
}

.mental-math-teacher {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 32px;
  color: #f00;
  letter-spacing: normal;
}
