<app-squared-paper>
  <div style="position: absolute; right:0; top:0">
    <mat-icon class="squared-paper-trophy" svgIcon="icon_sun"></mat-icon>
  </div>
  <div class="squared-paper-topic">{{topic}}</div>
  <form class="squared-paper-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="squared-paper-form-main" #main>
      <div class="squared-paper-form-item" *ngFor="let item of items; index as i">
        <div class="squared-paper-col-3">
          <div class="squared-paper-form-check" *ngIf="item.isChecked && item.isValid">&#10003;</div>
        </div>
        <div class="squared-paper-col-12">
          <div class="squared-paper-form-entry">
            <label [for]="item.inputName" *ngIf="item.inputIndex !== 'first'">
              <span [title]="item.expression.first.name">{{item.expression.first.value}}</span>
              <span [title]="item.expression.operator.name">{{item.expression.operator.notation}}</span>
              <ng-container *ngIf="item.inputIndex !== 'second'">
                <span [title]="item.expression.second.name">{{item.expression.second.value}}</span>
                <span title="equals">=</span>
              </ng-container>
            </label>
            <input #itemInputs type="text" placeholder="?" autocomplete="off" [id]="item.inputName"
              [name]="item.inputName" [class.invalid]="item.isChecked && !item.isValid" [readonly]="status !== 'active'"
              [attr.maxlength]="item.inputLength" (ngModelChange)="onInputChange(i, item.inputValue = $event)"
              [ngModel]="item.inputValue" (keyup.Enter)="onInputEnter(i)" (focus)="onInputFocus($event, main, i)">
            <label class="squared-paper-pl" [for]="item.inputName" *ngIf="item.inputIndex !== 'result'">
              <ng-container *ngIf="item.inputIndex !== 'second'">
                <span [title]="item.expression.operator.name">{{item.expression.operator.notation}}</span>
                <span [title]="item.expression.second.name">{{item.expression.second.value}}</span>
              </ng-container>
              <span title="equals">=</span>
              <span [title]="item.expression.result.name">{{item.expression.result.value}}</span>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="keyboardTransform && status === 'active'" class="squared-paper-form-keyboard"
        [style.transform]="keyboardTransform">
        <div class="squared-paper-form-keyboard-icon" (click)="showKeyboard = !showKeyboard">
          <mat-icon>{{toggleKeyboardIcon}}</mat-icon>
        </div>
        <div *ngIf="showKeyboard" class="squared-paper-form-keyboard-dial">
          <button type="button" mat-button (click)="onInputNext(1)">1</button>
          <button type="button" mat-button (click)="onInputNext(2)">2</button>
          <button type="button" mat-button (click)="onInputNext(3)">3</button>
          <button type="button" mat-button (click)="onInputNext(4)">4</button>
          <button type="button" mat-button (click)="onInputNext(5)">5</button>
          <button type="button" mat-button (click)="onInputNext(6)">6</button>
          <button type="button" mat-button (click)="onInputNext(7)">7</button>
          <button type="button" mat-button (click)="onInputNext(8)">8</button>
          <button type="button" mat-button (click)="onInputNext(9)">9</button>
          <button type="button" mat-button (click)="onInputNext(0)">0</button>
          <button type="button" mat-button (click)="onInputBack()">&larr;</button>
          <button type="button" mat-button (click)="showKeyboard = onInputEnter(inputIndex)">OK</button>
        </div>
      </div>
    </div>
    <div class="squared-paper-form-submit-button">
      <ng-container *ngIf="status === 'done'">
        <button id="onSubmitButton" mat-icon-button color="warn" aria-label="refresh button" type="button"
          [matMenuTriggerFor]="menu" appFocus>
          <mat-icon>face</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="above">
          <button mat-menu-item (click)="onRefresh()" type="button">
            <mat-icon color="primary">refresh</mat-icon>
            <span>{{refreshButtonLabel}}</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="status !== 'done'">
        <button [disabled]="!canSubmit()" id="onSubmitButton" mat-icon-button color="primary"
          aria-label="submission button" type="submit">
          <mat-icon>face</mat-icon>
        </button>
      </ng-container>
    </div>
    <div class="squared-paper-form-submit-message">
      <label for="onSubmitButton" style="vertical-align: top;">{{submitButtonLabel}}</label>
      <span *ngIf="status === 'done'" class="squared-paper-teacher">{{scoreMessage}}</span>
    </div>
  </form>
</app-squared-paper>
