@keyframes keyframes-heartbeat {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  43% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes keyframes-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: initial;
  }
}

@keyframes keyframes-fade-in-alt {
  0% {
    opacity: 0;
  }

  100% {
    opacity: initial;
  }
}

@keyframes keyframes-breath {
  0% {
    transform: scale(1, 1);
  }

  15% {
    transform: scale(1, 1.05) translateY(-5px);
  }

  50% {
    transform: scale(1, 1);
  }

  85% {
    transform: scale(1, 1.075) translateY(-8px);
  }

  100% {
    transform: scale(1, 1);
  }
}

// @keyframes keyframes-vortex-out {
//   0% {
//     transform: rotate(0deg) scale(1);
//     opacity: 1
//   }

//   100% {
//     transform: rotate(-1800deg) scale(0.3);
//     opacity: 0;
//   }
// }

div.missing-letters-frame {
  position: relative;
  width: 1024px;
  height: 768px;
  background-color: #7fffd4;
  background-image: url('../../../assets/school/board.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  div.missing-letters-board {
    position: absolute;
    left: 226px;
    top: 28px;
    width: calc(604px - 1em);
    height: calc(484px - 1em);
    // border: 1px solid magenta;
    // background-color: #0005;
    color: #eee;
    // font-size: 24px;
    line-height: 2em;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    // > :not(:last-child)::after {
    > ::after {
      content: ",\00a0";
      // margin-right: 0.4em;
    }
    > :last-child::after {
      visibility: hidden;
      color: #0000;
    }
  }

  span.missing-letters-answer {
    animation: keyframes-fade-in 1s ease 1;
  }

  span.missing-letters-input {
    animation: keyframes-fade-in 1s ease 1;

    .missing-letters-answer {
      animation: keyframes-heartbeat 2s linear infinite;
      padding-left: 0.075em;
      padding-right: 0.075em;
    }
  }

  div.missing-letters-audio {
    position: absolute;
    cursor: pointer;
    left: 30px;
    top: 525px;
    width: 200px;
    height: 228px;

    background-color: transparent;
    background-image: url('../../../assets/school/phonograph.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.active {
      animation: keyframes-breath 1s linear 0.2s infinite;
    }
  }

  img.missing-letters-effects {
    animation: keyframes-fade-in 0.5s ease;
  }

  div.missing-letters-front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 200px;
    top: 526px;
    width: 658px;
    height: 240px;
    pointer-events: none;
    background-color: transparent;

    >button {
      display: inline-block;
      background: radial-gradient(#00d090 0%, #70d0a0cc 100%);

      color: #eee;
      text-decoration: none;
      // text-shadow: 2px 2px 0px #2f6627;
      font-size: 40px;

      cursor: pointer;
      pointer-events: auto;
      // position: absolute;
      // height: 2.5em;
      // width: 2.5em;
      min-height: 98px;
      min-width: 98px;
      margin: 24px;

      // border: 2px solid #18ab29;
      border: none;
      border-radius: 50%/50%;
      box-shadow: 4px 4px 2px #0005;

      &:hover {
        font-size: 44px;
        background: radial-gradient(#70d0a0 0%, #00d090cc 100%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #0f5040cc, 4px 4px 2px #0005;
      }

      &:active {
        // transform: scale(0.98);
        // transform: translate(0, 2px);
        // border-color: #5cbf2a;
        outline: none;
        box-shadow: 0 0 0 2px #0f5040cc, 4px 4px 2px #0005;
        font-size: 36px;
        opacity: 0.9;
        // box-shadow: 0 0 0 2px #0f5a41cc, 4px 2px 2px #0005;
      }

      &:disabled {
        color: #aaa;
        opacity: 0.6;
        background: radial-gradient(#888 0%, #555 100%);
      }
    }
  }

  div.missing-letters-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2222;

    div.missing-letters-message {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }

    div.missing-letters-teacher,
    div.missing-letters-student {
      position: relative;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-duration: 1s;
    }

    div.missing-letters-teacher {
      animation-name: keyframes-fade-in;
      left: 135px;
      top: 5px;
      width: 339px;
      height: 253px;
      background-image: url('../../../assets/school/speech-bubble.png');

      div.missing-letters-message {
        left: 20px;
        top: 38px;
        width: 284px;
        height: 140px;
        font-size: 32px;
        line-height: 1.1em;
        color: #700000;
      }
    }

    div.missing-letters-student {
      animation-name: keyframes-fade-in-alt;
      left: 582px;
      top: 334px;
      width: 289px;
      height: 175px;
      background-image: url('../../../assets/school/speech-bubble-small.png');

      div.missing-letters-message {
        left: 14px;
        top: 22px;
        width: 222px;
        height: 122px;
        font-size: 32px;
        line-height: 1.1em;
        color: #000070;
      }
    }
  }
}
