// $background-hover-color: #f0f0f0ee;
$background-hover-color: rgba(0, 0, 0, 0.04);
$background-select-color: rgba(0, 0, 0, 0.12);

$border-color: #e3e3e3;
$border-select-color: #6644bb;

// $item-color: rgba(0, 0, 0, 0.54);
$item-color: currentColor;
$item-hover-color: #0066bb;
$item-select-color: inherit;
